header {
    padding-top: 40px;
    position: sticky;
  }
  
  .header__inner {
      color: white;
      font-size: large;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 25px;
      background-color: rgba(81, 81, 81, 0.37);
      border-radius: 25px;
      backdrop-filter: blur(5px);
    }

    .header__inner:hover {
      filter: brightness(120%);
    }
  
  .items {
      display: flex;
      align-items: center;
  }
  
  .logo{
    height: 40px;
  }
  
  .btn__inner {
      padding-left: 30px;
  }

  .fa-github-alt,
  .fa-telegram, 
  .fa-instagram{
      color: white;
      font-size: 30px;
      transition: all ease-in-out 0.2s;
      padding: 0px 10px;
  }
  
  .fa-github-alt:hover,
  .fa-telegram:hover, 
  .fa-instagram:hover {
      filter: drop-shadow(0 0.2rem 0.25rem rgba(255, 255, 255, 0.5));
      transform: scaleX(1.2) scaleY(1.2);
    }


    .btn {
      text-align: center;
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      border-style: none;
      border-radius: 30px;
      padding: 10px 30px;
      cursor: pointer;
      font-size: 15px;
      font-weight: medium;
      transition: all 0.1s;
    }
    
    .btn:hover {
      filter: drop-shadow(0 0.2rem 0.25rem rgba(255, 255, 255, 0.5));
    }
    
    .btn:active {
      background-color: rgba(255, 255, 255, 0.5);
      filter: none;
    }

  

    @media only screen and (max-width: 490px){
      .fa-github-alt,
      .fa-telegram, 
      .fa-instagram {
          color: white;
          font-size: 20px;
          transition: all ease-in-out 0.2s;
          padding: 0px 5px;
      }
    
      .btn__inner {
        padding-left: 10px;
    }
    }