$tr-20: translate3d(0, 0, -20px);
$tr20: translate3d(0, 0, 20px);

.ocean {
  z-index: -1;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 1600 198'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: url(%23linear-gradient); fill-rule: evenodd; stroke-width: 0px; %7D %3C/style%3E%3ClinearGradient id='linear-gradient' x1='800' y1='368.26' x2='800' y2='101.4' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230ff6f6'/%3E%3Cstop offset='1' stop-color='%237feeff'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath class='cls-1' d='M1600,121C1289,121,1190.1-.25,789,0,389,0,289,121,0,121v77h1600s0-48,0-77Z'/%3E%3C/svg%3E");
  background-color: linear-gradient(#ce3975, #8e96f1);;
  background-repeat: repeat-x;
  position: absolute;
  bottom:  0px;
  width: 7000px;
  height: 150px;
  animation: wave 14s ease-in-out infinite;
  filter: brightness(110%);

  transform: translate3d(0, 0, 0);

  @keyframes wave {
    0% {
      margin-left: 0;
      transform: $tr-20;
    }
    25% {
      transform: $tr20;
    }
    50% {
      margin-left: -1600px;
      transform: translate3d(0, 0, 50);
    }
    75% {
      transform: $tr20;
    }
    100% {
      margin-left: 0;
      transform: $tr-20;
    }
  }
}
