@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

$gradient:  linear-gradient(#5353e1, #323293);

.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    position: relative;
    width: auto;
    height: 100vh;
    overflow: hidden;
  }
  
  input[type=text] {
    outline:none;
    font: 15px Poppins;
    padding: 5px 10px;
    height: auto;
    width: 500px;
    border-radius: 25px;
  
    border: none;
  
  }
  
  .fa-magnifying-glass {
    color: white;
  }
  
  button {
    margin-left: 5px;
    background: $gradient;
    border-radius: 50%;
    height: 33.2px;
    width: 33.2px;
  
    border: none;
  }
  
  
  button:hover {
    filter: brightness(120%);
  }
  
  button:active {
    background: $gradient;
    filter: brightness(80%);
  }