@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

$gradient: linear-gradient(#ce3975, #8e96f1);

.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  input[type=text] {
    outline:none;
    font: 15px Poppins;
    padding: 5px 10px;
    height: auto;
    width: 500px;
    border-radius: 25px;
    border: none;

    .fa-magnifying-glass {
      color: white;
    }
    

  }   
  
  .btn_2 {
      margin: 10px;
      text-align: center;
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      border-style: none;
      border-radius: 30px;
      padding: 8px 10px;
      cursor: pointer;
      font: 15px medium;
      transition: all 0.1s;
    }
    
    .btn_2:hover {
      filter: drop-shadow(0 0.2rem 0.25rem rgba(255, 255, 255, 0.5));
    }
    
    .btn_2:active {
      background-color: rgba(255, 255, 255, 0.5);
      filter: none;
    }