@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);


body {
background-color: rgb(32, 32, 32);
margin: 0;
color: white;
font: 14px Poppins;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

section {
  height: 100vh;
}

h1 {

}

p {
  
}

a {

}

.container {
  height: auto;
  width: auto;
  max-width: 1000px;
  margin: 0 auto;
}

footer{
  z-index: -1;
  overflow-x: hidden;
  position: relative;
  height: 165px;
  width: auto;
}
